.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 50px;
    background-color: rgb(241, 244, 247);
}
.transactionHistory{
    width: 80%;
    max-width: 70%;
    border-collapse: collapse;
    box-shadow: 5px 0px 6px rgba(0, 0, 0, 0.1), -5px 0px 6px rgba(0, 0, 0, 0.1);
}
.transactionHistory thead tr th{
    padding: 10px;
    border-bottom: 1px solid #afa3a3;
    border-right: 1px solid #afa3a3;
    background-color: rgb(20, 245, 245);
    color: white;
}
.transactionHistory thead tr th:last-child{
    border-right: none;
}
.transactionHistory td {
    text-align: center;
    padding: 10px;
    border-right: 1px solid rgb(175, 163, 163);
    border-bottom: 1px solid  rgb(175, 163, 163);
}
.transactionHistory td:last-child {
    border-right: none;
}
.transactionHistory tbody tr td{
    background-color: inherit;
}
.transactionHistory tbody tr:nth-child(even) {
    background-color: rgb(223, 217, 217);
}
.transactionHistory tbody tr:last-child {
    border-bottom: 1px solid black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}